#header {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.104) ;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color:  #e3e6f3;
    height: 80px;
    z-index:999;
    position: sticky;
    top: 0;
    left: 0;

}
#header h4{
	font-size: 20px;
}
#navbar
{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li{
    list-style: none;
    padding: 0px 20px;
    position:relative;
	font-size: 20px;
}
#navbar li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s ease;

}
#navbar li a:hover{
    color: rgb(105, 153, 216);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width:30%;
    height: 2px;
    background: steelblue;
    position :absolute;
    bottom:-4px;
    left:20px;
    

}

#feature{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0px;
}


.f1 img .f2 img .f3 img .f4 img{
    width:30%;
    height:50%;
    display: block;
    margin: auto;
    padding-top: 20px;
}
.f p{
    font-size:x-large;
}
.f1 h4{
    margin:auto;
    text-align: center;
    margin-top: 20px;
    width: 200px;
    background-color: blue;
    color: aliceblue;

}
.f2 h4{
    margin:auto;
    text-align: center;
    margin-top: 20px;
    width: 200px;
    background-color:blueviolet;
    color: aliceblue;

}
.f3 h4{
    margin:auto;
    text-align: center;
    margin-top: 20px;
    width: 200px;
    background-color:goldenrod;
    color: aliceblue;

}
.f4 h4{
    margin:auto;
    text-align: center;
    margin-top: 20px;
    width: 200px;
    background-color:green;
    color: aliceblue;

}
.f h1{

    text-align: center;
}
