body{
    width: 100%;
    height: 100%;
    margin: 0;
   }
   
   
   #header {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.104) ;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color:  #e3e6f3;
    height: 80px;
    z-index:999;
    position: sticky;
    top: 0;
    left: 0;

}
#header h4{
	font-size: 20px;
}
#navbar
{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#navbar li{
    list-style: none;
    padding: 0px 20px;
    position:relative;
	font-size: 20px;
}
#navbar li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s ease;

}
#navbar li a:hover{
    color: rgb(105, 153, 216);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width:30%;
    height: 2px;
    background: steelblue;
    position :absolute;
    bottom:-4px;
    left:20px;
    

}
   
   .logo
   {
    float: left;
   height:50px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
   }
   
   .header-link
   {
    float:right;
    font-size:14px;
    height: 50px;
    padding: 15px 15px 15px 15px;
    font-size:16px;
    font-weight: bold;
   }
   
   
   
   #banner_image
   {
      padding-top: 75px;
   padding-bottom: 50px;
   text-align: center;
   color: #f8f8f8;
   background-size: cover;
     
   }
   
   .inner-bannerimage
   {
       text-align:center;
    width:50%;
    margin:auto;
   }
   
   #banner_content
   {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
   }
   
   
   .items
   {
        width:30%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.45;
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 2px;
    float:left;
    margin-left:1%;
   
   }
   
   .thumbnail
   {
       display: block;
       max-width: 100%;
       height: auto;
   }
   
   .caption{
        color:black;
    padding:0px 10px 10px;
    font-weight: bold;
    text-align: center;
   
   }
   .footer
   { 
    padding: 10px 0px;
    background-color: #101010;
    color:#9d9d9d;
    position:static;
    margin-top: 100px;
    width: 100%;
   }
